body {
  /*background-image: url("https://www.seekpng.com/png/detail/6-69757_teacher-cartoon-png.png");*/
  font-size: 20px;
  margin-top: 8%;
}



#right{
  position: absolute;
  width: 1055px;
  height: 600px;
  top:16% ;
  right: 0%;
  z-index: -1;
}

.header {
  width: 45%;
  margin: 40px 0px 0px 0px;
  color: white;
  background-color: rgb(65, 65, 238);
  text-align: center;
  border: 1px solid gray;
  border-radius: 8px 8px 0px 0px;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapper {
  float: left;
  width: 45%;
  margin: 0px 0px 0px 0px;
  border: 1px solid gray;
}

#credit{
position: absolute;
bottom: 15%;
}
.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.words {
  width: 29%;
  background: #dcdcdc;
  padding-top: 10px;
  float: left;
}

.word {
  width: 69%;
  float: left;
  padding-left: 10px;
}

#word_list {
  max-height: 500px;
  overflow-y: scroll;
}

li {
  list-style-type: none;
  line-height: 1.4em;
  text-align: center;
}

li:hover {
  cursor: pointer;
  color: rgb(65, 65, 238);
}

ul {
  margin-left: -10px;
  font-size: 25px;
  font-family: Roboto;
  color: black;
  text-align: center;
}

h3 {
  color: rgb(65, 65, 238);
}

#search {
  margin-left: 10px;
  width: 60%;
  padding: 15px;
  height: 13px;
}

button {
  height: 27px;
  background: rgb(65, 65, 238);
  color: white;
  opacity: 0.7;
  border: none;
  border-radius: 4px;
  padding: 0px 10px;
}

#image {
  width: 400px;
  height: 200px;
}

#word_fin {
  font-family: Roboto;
  color: black;
  font-size: 25px;
}

#word_eng {
  font-family: Roboto;
  color: black;
  font-size: 25px;
}

#image-fin {
  width: 400px;
  height: 200px;
}
